.modal-content {
    padding: 20px;
    background-color: white;
    margin: auto;
    width: 400px;
    max-height: 80vh; 
    overflow-y: auto; 
    border-radius: 8px; 
  }
  
  .modal-header {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .modal-button {
    margin-top: 20px;
  }