
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTableCell-root.Acciones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    gap: 5%; 
  }


  .Acciones .Ver {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .Acciones .Editar {
    padding: 5px 10px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .Acciones .Eliminar {
    padding: 5px 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .modal-content {
    padding: 20px;
    background-color: white;
    margin: auto;
    width: 400px;
    max-height: 80vh; /* Limita el alto del modal al 80% de la altura de la ventana */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    border-radius: 8px; /* Opcional: para bordes redondeados */
  }
  
  .modal-header {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .modal-button {
    margin-top: 20px;
  }
  