/* Contenedor de la tabla */
.table-container {
  width: 100%;
  max-width: 100%;
  max-height: 628px;
  height: auto; 
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

/* Tabla principal */
.custom-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; 
}

/* Encabezado */
.header-row {
  background-color: #383838;
}

/* Texto encabezado */
.header-row .header-cell {
  color: white;
  font-weight: bold;
  text-align: left;
  border: 1px solid #565656;
  font-size: 14px;
  width: 14%;
}

/* Filas del cuerpo */
.body-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.body-row:hover {
  background-color: #FFAA2C;
}

.body-cell {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
  width: 15%;
}

/* Estilo de las acciones */
.acciones div {
  display: inline-block;
  margin-right: 8px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.body-cell.acciones {
  text-align: center;
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.ver {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.editar {
  padding: 5px 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.eliminar {
  padding: 5px 10px;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.ver, .editar, .eliminar {
  display: inline-block;
  margin-right: 8px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  text-align: center;
}

.ver:hover, .editar:hover, .eliminar:hover {
  opacity: 0.8;
}

.Titulo{
  height: 8%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #383838;
  color: #ffff;
  font-family: sans-serif;
  margin-bottom: 1%;
  border-radius: 10px;
}

.Titulo h1 {
  margin-left: 1%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Titulo .icono {
  margin-right: 10px;
}

/* Estilo para cambiar el color de las etiquetas y el texto */
.paginacion-custom .MuiTablePagination-root {
  color: #FFAA2C; 
}

.paginacion-custom .MuiTablePagination-toolbar {
  color: #FFAA2C; 
}

.paginacion-custom .MuiSelect-icon {
  color: #FFAA2C; 
}

.paginacion-custom .MuiTypography-root {
  color: #FFAA2C; 
}

.MuiButton-contained.Agregar_Boton {
  background-color: #FFAA2C;
  color: white; 
}

.MuiButton-contained.Agregar_Boton:hover {
  background-color: #D78000; 
}

